<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thymeleaf index</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.css">

    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/jquery.js"></script>
    <!--<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
</head>
<body>
<div class="container">
    Hello,neo

    <span th:text="${name}"></span>
</div>
</body>
</html>